@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --bg-blue: #070030;
    --bg-purple: #5D2689;
    --lightest-green: #BBFFEA;
    --light-green: #2FCB9B;
    --dark-green: #01959A;
    --darkest-green: #0A748B;

}

* {
    box-sizing: border-box;
    /* border: 2px solid red */
}

html {
    background: var(--bg-blue);
    background: radial-gradient(circle, #5D2689 0%, #070030 80%);
    background-position: 80%;
    background-size: 300%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-anchor: auto;
}

body {
    margin: 0;
    font-size: 17px;
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    color: white;

}


h1 {
    font-family: Syne;
    font-weight: 800;
    font-size: 4em;
    color: white;
    margin: 0.25em;
    text-shadow: 0px 0px 5px rgba(7,0,48,1);
}

h2 {
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
    text-shadow: 0px 0px 5px rgba(7,0,48,1);
}

h3 {
    font-weight: 400;
    margin-top: 0;
    text-shadow: 0px 0px 5px rgba(7,0,48,1);
}

p{
    text-shadow: 0px 0px 5px rgba(7,0,48,1);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.max-height {
    height: 100vh;
}

.three-quart-height {
    height: 75vh;
    min-height: 800px
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 40px;
}

#stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.sticker,
#comet-bundle {
    z-index: -20;
    position: absolute;
}

#sticker-comet-01 {
    background-image: url(sticker_comet_01.png);
    width: 110px;
    height: 110px;
    top: 75px;
    left: 75px;
}

#sticker-comet-02 {
    background-image: url(sticker_comet_02.png);
    width: 66px;
    height: 56px;
}

#sticker-comet-03 {
    background-image: url(sticker_comet_03.png);
    width: 252px;
    height: 164px;
    bottom: 20%;
    left: 5%
}

#comet-bundle {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 15%;
    right: 10%
}

#sticker-ufo {
    background-image: url(sticker_ufo.png);
    width: 240px;
    height: 185px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10%;
    left: 20%;
    transform: rotate(-15deg);
}

#sticker-planet-01 {
    background-image: url(sticker_planet_01.png);
    width: 190px;
    height: 190px;
    left: 2%;
    bottom: 5%
}

#sticker-tardis {
    background-image: url(sticker_tardis.png);
    width: 332px;
    height: 418px;
    right: 10px;
    top: -10%;
    transform: rotate(20deg) scale(60%);
}

#location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "world details";
    position: relative;
}

#world {
    background-color: var(--lightest-green);
    background-image: url(bg_earth.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    width: 90vw;
    height: 90vw;
    top: -20vh;
    left: 5%;
    border-radius: 100%;
    border: 3px solid var(--darkest-green);
    outline: 2px solid var(--lightest-green);
    -webkit-box-shadow: 0px -5px 40px -2px var(--lightest-green);
    -moz-box-shadow: 0px -5px 40px -2px var(--lightest-green);
    box-shadow: 0px -5px 40px -2px var(--lightest-green);
}

#sticker-rocket {
    background-image: url(sticker_rocket_rotated.png);
    background-size: contain;
    width: 197px;
    height: 197px;
    z-index: 10;

}

#svg-rocket {
    width: 80%;
    position: absolute;
    right: -200px
}

#rocket-path {
    position: absolute;
    width: 60%;
    right: 0;
    top: 10%;
    transform: rotate(45eg);
}

.see-line {
    fill: none;
    /* stroke: #fff;
    stroke-miterlimit: 10; */
}

#details {
    grid-area: details;
}


form {
    width: 600px;
    max-width: 100%;
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 20px;
    outline: 2px solid var(--lightest-green);
    outline-offset: 10px;
    border-radius: 1.5em 0 1.5em 0;
    background-color: rgba(187, 255, 234, 0.8);
    color: var(--bg-blue);
}

form h2 {
    color: var(--bg-blue);
    font-weight: 600;
    text-shadow: none;
}

.question-group {
    margin-bottom: 1em;
    width: 100%
}

label {
    font-size: 1.2em;
}

form input[type=text] {
    display: block;
    width: 100%;
    padding: 0.6em;
    border: 2px solid var(--darkest-green);
    border-radius: 0 1em 0 1em;
    font-family: Rajdhani, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1em;
    margin-top: 0.5em;
}

form input[type=radio] {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    accent-color: var(--darkest-green);
}

.question-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0;
}

.btn {
    width: 200px;
    max-width: 100%;
    outline: 2px solid var(--lightest-green);
    outline-offset: 10px;
    border-radius: 0 1.5em 0 1.5em;
    padding: 10px 20px;
    background-color: rgba(187, 255, 234, 0.8);
    transition: 300ms;
    text-transform: capitalize;
    font-size: 1.2em;
    margin: 20px;
}

.long {
    width: 600px
}

.btn:hover {
    cursor: pointer;
    outline: 2px solid var(--dark-green);
    background-color: var(--dark-green);
    color: var(--lightest-green);
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3.2em;
    }

    #location {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
            "world"
            "details";
    }

    #sticker-comet-03 {
        background-image: url(sticker_comet_03.png);
        width: 160px;
        height: 120px;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 20%;
        left: -10%
    }

    #comet-bundle {
        width: 120px;
        height: 120px;
        position: absolute;
        top: 15%;
        right: 0
    }

    #svg-rocket {
        width: 80%;
        position: absolute;
        right: -60px;
        top: 10%;
        transform: rotate(45deg)
    }

    #sticker-rocket {
        background-image: url(sticker_rocket_rotated.png);
        background-size: contain;
        width: 140px;
        height: 140px;
        z-index: 10;

    }

    #sticker-ufo {
        background-image: url(sticker_ufo.png);
        width: 140px;
        height: 125px;
        background-size: contain;
        background-repeat: no-repeat;
        top: 10%;
        left: 10%;
        transform: rotate(-15deg);
    }

    #sticker-tardis {
        background-image: url(sticker_tardis.png);
        right: -15%;
        top: -25%;
        transform: rotate(20deg) scale(40%);
    }

    #details {
        justify-content: start;
    }
}

@media only screen and (min-width: 1250px) {
    body {
        font-size: 22px;
    }

    h1 {
        font-size: 4.5em;
    }

    #world {
        width: 70vw;
        height: 70vw;
        top: -20vh;
        left: 15vw;
    }
}